/* 🔥 IMPORT FONT POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

/* 🔥 GLOBAL FONT */
body {
  font-family: 'Poppins', sans-serif;
}

/* ANIMASI KAMU */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 6s ease infinite;
}

/* 🔥 FIX STABILITY AOS */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* OPTIMASI AOS BIAR SMOOTH */
[data-aos] {
  will-change: transform, opacity;
  transform: translateZ(0);
}
/* 🔥 CUSTOM AOS BIAR KAYAK GSAP */
[data-aos="slide-left"] {
  transform: translateX(-120px);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="slide-left"].aos-animate {
  transform: translateX(0);
  opacity: 1;
}

[data-aos="slide-right"] {
  transform: translateX(120px);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="slide-right"].aos-animate {
  transform: translateX(0);
  opacity: 1;
}

[data-aos="slide-up-smooth"] {
  transform: translateY(60px);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="slide-up-smooth"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}
